<footer class="footer-distributed">

	<div class="footer-right">

		<a href="#">
			<i class="fa fa-facebook"></i>
		</a>
		<a href="#">
			<i class="fa fa-twitter"></i>
		</a>
		<a href="#">
			<i class="fa fa-linkedin"></i>
		</a>
		<a href="#">
			<i class="fa fa-github"></i>
		</a>

	</div>

	<div class="footer-left">

		<p class="footer-links">
			<a class="link-1" href="home.html">Home</a>

			<a href="faq.html">Faq</a>

			<a href="fc.html">Forum</a>

			<a href="#">Contact</a>
		</p>

		<p>Geek UNSTIM &copy; 2020</p>
	</div>

	<div class="dmtop">Scroll to Top</div>

</footer>
