<form method="post" action="{{ path('search_tracker_delete', {'id': search_tracker.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ search_tracker.id) }}">
    <button class="btn">Delete</button>
</form>
