{% extends "layouts/layouts.html.twig" %}
{% block title %}
	Réponses à
{% endblock %}

{# Page header #}
{% block header %}
	<section class="content-header mt-5">
		<h1>
			FORUM
			<a href="/">
				<small>Retour</small>
			</a>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="/">
					<i class="fa fa-dashboard"></i>
					Accueil</a>
			</li>
			<li>
				<a href="#">forum</a>
			</li>
		</ol>
	</section>
{% endblock %}


{# Page content #}
{% block content %}

	{# Forum tool bar #}
	{% include "layouts/partials/forum_toolbar.html.twig" %}
	<div class="col-md-12">
      <div class="section-preview col-md-11 mx-auto" style="margin-top: 5%; margin-right: 5%;">
        <h3 class="text-primary text-center text-uppercase">Creer un sujet</h3><br>
		{{ include('forum/message/_form.html.twig', {'button_label': 'Poster'}) }}
        
      </div>
    </div>
	{# Stats widgets #}
	{% include "layouts/partials/stats.html.twig" %}
{% endblock %}
