
{% extends "layouts/base.html.twig" %}

{% block title %}Poster un message
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title text-center">Poster un message</h4>
					<div class="text-center">
						{# {{ fileUploadingInfos }} #}
					</div>
				</div>
				<div class="card-body">
					{{ include('forum/message/_form.html.twig', {'button_label': 'Poster'}) }}
					<div class="row text-center">
						<div class="col-md-6">
							<div class="form-group"></div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
									<a href="{{ path("forum_index") }}">
										<button class="btn btn-info">Accueil du forum</button>
									</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
